/.settings
/MybatisGenerator/.settings
/MybatisGenerator/.project
/MybatisGenerator/.classpath
/MybatisGenerator/.gitignore
/taotao-common/*.gitignore
/taotao-common/*.project
/taotao-common/*.classpath
/taotao-common/target
/taotao-manager/.settings
/taotao-manager/taotao-manager-mapper/.settings
/taotao-manager/taotao-manager-mapper/target
/taotao-manager/taotao-manager-mapper/.classpath
/taotao-manager/taotao-manager-mapper/.project
/taotao-manager/taotao-manager-pojo/target
/taotao-manager/taotao-manager-pojo/.classpath
/taotao-manager/taotao-manager-pojo/.project
/taotao-manager/taotao-manager-pojo/.settings
/taotao-manager/taotao-manager-service/.settings
/taotao-manager/taotao-manager-service/target
/taotao-manager/taotao-manager-service/.project
/taotao-manager/taotao-manager-web/.classpath
/taotao-manager/taotao-manager-web/.project
/taotao-manager/taotao-manager-web/.settings
/taotao-manager/taotao-manager-web/target
/taotao-manager/.project
/.project
